.sidebar {
  grid-row: 1 / -1;
  background-color: $color-primary;

  display: flex;
  justify-content: center;

}

.nav-bar {
  border: none;
  border-radius: 0;
  display: block;
  margin-top: 4rem;
  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 4.5rem;
    background-color: #fff;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }
}